* {
  font-family: Arial, Helvetica, sans-serif;
  color: lightgray; /* change back to lightgray */
  margin-left: 15px;
  margin-right: 15px;
  /* border: solid;
  border-color: lightblue; */
  /* border stuff for testing only */
} 



/* header */

h1 {
  text-align: center;
  font-size: 400%;
}

body {
  background-color: black;
  font-size: 15pt;
}

.headerimages {
  max-width: 60%;
  min-width: 40%;
  padding-left: 20%;
  margin-bottom: 20px;
}



/*main */

.sectionmargin {
  margin-bottom: 50px;
  margin-top: 50px;
  padding-top: 20px;
  padding-bottom: 20px;
}

#biotitle {
  display: inline-block;
  text-align: center;
  font-size: 140%;
  width: 25vmax;
  position: relative;
  bottom: 5em;
  left: 3%;
}

#biodesc {
  display: inline-block;
  text-align: center;
  position: relative;
  left: 15%;
  padding: 5px;
  line-height: 1.5em;
  width: 40%;
}

.pagehr {
  margin-left: 40%;
  margin-right: 40%;
}

#jobtitle {
  display: inline-block;
  text-align: center;
  font-size: 140%;
  width: 25vmax;
  position: relative;
  bottom: 2em;
  left: 2%;
}

#jobdesc {
  display: inline-block;
  text-align: center;
  line-height: 1.5em;
  width: 50vmax;

}

#jobdesc>ul>ul> {
  text-align: left;
}

.joblist {
  display: inline-block;
  list-style-type: none;
}

.joblist {
  list-style-type: none;
}

#goalstitle {
  text-align: center;
  font-size: 140%;
}

#goalsdesc {
  text-align: center;
  line-height: 1.5em;
}

#goalslist {
  padding-left: 10%;
  padding-right: 10%;
  font-size: 100%;
}

#factstitle {
 text-align: center;
 font-size: 140%;
}

#factsdesc {
  text-align: center;
  line-height: 1.5em;
}

#top10 {
  text-align: center;
}

#beatles {
  float: left;
  height: 12em;
  position: relative;
  right: 7%;
}

#muse {
  float: right;
  height: 12em;
  position: relative;
  left: 2%;
}

#top10 ol {
  margin-left: auto;
  margin-right: auto;
}

#top10 li {
  clear: none;
  text-align: center;
  border-radius: 10px; 
  border-color: lightgray;
  font-size: 12pt;
  padding-top: 1px;
  padding-bottom: 1px;
  width: 90px;
  margin-left: auto;
  margin-right: auto;
  border-right: 10px;
  border-left: 10px;
}


/* footer */

#projectbaralign {
  display: inline-block;
  text-align: center;
  padding-right: -1em;
  
}

#projectbarsize {
  display: inline-block;
  text-align: center; 
  width: 40%;
  max-width: 50vmax;
  max-height: 50vmax;
  position: relative;
  bottom: .5em;
}

.projectlist {
  display: inline-block;
  text-align: center;
  font-size: 13px;
}

#linkbarsize {
  display: inline-block;
  text-align: center;
  width: 50%;
  max-width: 50vmax;
  max-height: 50vmax;
  position: relative;
  left: 2%;
}

#linkbaralign {
  display: inline-block;
  text-align: center;
}

.linklist {
  display: inline-block;
  text-align: center;
  font-size: 13px;
}

#seenavbar {
  font-weight: bold;
  font-style: italic; 
  text-align: center;
  display: block;
}