* {
  font-family: Arial, Helvetica, sans-serif;
  color: lightgray;
  margin-left: 10px;
  margin-right: 10px;
  /* border: solid;
  border-color: darkgreen; */
  /* border stuff for testing only */
}

h1 {
  text-align: center;
  font-size: 400%;
}

body {
  background-color: black;
  font-size: 15pt;
}

img {
  max-width: 60%;
  min-width: 40%;
  padding-left: 20%;
  margin-bottom: 20px;
}

#headernavalign {
  text-align: center;
}

#navbarsize {
  width: 100%;
}

.headernav {
  display: inline;
  margin: 20px;
}

.sectionmargin {
  margin-bottom: 50px;
  margin-top: 50px;
  padding-top: 20px;
  padding-bottom: 20px;
}

#biotitle {
  text-align: center;
  font-size: 140%;
  float: left;
  width: 30%;
  padding: 10px;

}

#biodesc {
  text-align: center;
  padding: 5px;
}

.pagehr {
  margin-left: 40%;
  margin-right: 40%;
}

#jobtitle {
  text-align: center;
  font-size: 140%;
  float: right;
  width: 30%;
  padding: 10px;
}

#jobdesc {
  text-align: center;
  width: 70%;
}

.joblist {
  display: block;
  list-style-type: none;
}

#goalstitle {
  text-align: center;
  font-size: 140%;
}

#goalsdesc {
  text-align: center;
}

#goalslist {
  padding-left: 10%;
  padding-right: 10%;
}

#factstitle {
 text-align: center;
 font-size: 140%;
}

#factsdesc {
  text-align: center;
}

#footernavalign {
  text-align: center;
}

.footernav {
  display: inline;
  margin: 20px;
}